.cartoony {
    border: 4px solid var(--text);
    border-radius: 16px;
    box-shadow: 4px 4px 0 0 var(--text);
    background-color: #fff;
}

/* Create variants */
.darkblue {
    border-color: #0E5CE1;
    box-shadow: 4px 4px 0 0 #0E5CE1;
    color: #0E5CE1;
}

.faintblue {
    border-color: #8ea9d6;
    box-shadow: 4px 4px 0 0 #8ea9d6;
    color: #8ea9d6;
}

.darkred {
    border-color: #e1740e;
    box-shadow: 4px 4px 0 0 #e1740e;
    color: #e1740e;
}

.faintred {
    border-color: #d3ae8b;
    box-shadow: 4px 4px 0 0 #d3ae8b;
    color: #d3ae8b;
}