@tailwind base;
@tailwind components;
@tailwind utilities;



/* Define constant colors */
:root {
  --primary: #0E5CE1;
  --secondary: #C5D9FB;
  --accent: #0F5EE6;
  --text: #01040A;
  --background: #FAFCFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}